#card img {
    width: 12rem;
    height: 13rem;
    
}

#card {
    align-items: center;
    cursor: pointer;
     border: 3px solid #2e272708 ;
    z-index: 999;
   overflow: hidden;
   
   width: 150px;
   height:150px;
   
}

#actual_price {
    letter-spacing: 3px;
    font-weight: 700;
    text-decoration: line-through;
    color: rgba(32, 31, 31, 0.356);
}

#selling_price {
    margin-left: 15px;
    font-size: 1.4rem;
    font-weight: bolder;
}

Link {
    color: black;
}

*{
    text-decoration: none;
}

#title{
    text-decoration: none;
}

