#card img {
    width: 13rem;
    height: 15rem;
    padding: 9px;
}

#card {
    align-items: center;
    cursor: pointer;
}

#actual_price {
    letter-spacing: 3px;
    font-weight: 700;
    text-decoration: line-through;
    color: rgba(32, 31, 31, 0.356);

}

#selling_price {
    margin-left: 15px;
    font-size: 1.4rem;
    font-weight: bolder;
}
Link {
    color: black;
}
*{
    text-decoration: none;
}
#title{
    text-decoration: none;
}

