.footer {
    background-color: #212121;
    padding: 2rem 0;
    height: 350px;
  }
  
  .footer h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(175, 175, 197);
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer ul li a {
    color: #f7f4f4;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .footer ul li a:hover {
    color: #f5efef;
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    margin-right: 1rem;
  }
  
  .social-icons li {
    color: #f3e8e8;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .social-icons li a:hover {
    color: #506b7e;
  }
  